volumes:
  nextcloud_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/stacheldrath/Desktop/ComposeData/nextcloud/app/config

  nextcloud_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/stacheldrath/Desktop/ComposeData/nextcloud/app/data

  nextcloud_database_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/stacheldrath/Desktop/ComposeData/nextcloud/database/config

services:
  nextcloud_app:
    image: linuxserver/nextcloud
    container_name: nextcloud_app
    environment:
      - PUID=1000
      - GUID=1000
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    depends_on:
      - nextcloud_database
      - nextcloud_redis
    networks:
      - nextcloud-net
    restart: unless-stopped

  nextcloud_redis:
    image: redis:latest
    container_name: nextcloud_redis
    command: ["redis-server", "--appendonly", "no", "--maxmemory", "500mb", "--maxmemory-policy", "allkeys-lru", "--requirepass", "feac5529dadf2e251762e69e209025b8854910cf8513c66e"]
    networks:
      - nextcloud-net
    restart: unless-stopped

  nextcloud_database:
    image: linuxserver/mariadb:latest
    container_name: nextcloud_database
    environment:
      - PUID=911
      - PGID=911
      - MYSQL_ROOT_PASSWORD=stacheldrath
      - MYSQL_DATABASE=nextclouddb
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=stacheldrath
    volumes:
      - nextcloud_database_config:/config
    networks:
      - nextcloud-net
    restart: unless-stopped
