Package: stacheldrath-compose
Version: 0.1
Maintainer: John Kramer
Architecture: all
Description: Configures the default compose stack for Stacheldrath to enable Agentic AI Workflow Automation
Depends: docker.io,docker-compose
